<h1><%= @album.name %> Album</h1>

<table border="1">
  <tr>
    <th> Track </th>
    <th> Type </th>
    <th> Lyrics </th>
  </tr>
  <% @album.tracks.each do |track| %>
    <tr>
      <td><%= track.name %></td>
      <td><%= track.track_type %></td>
      <td><%= track.lyrics %></td>
      <td>
        <%= button_to "edit", edit_track_url(track), method: :get %>
      </td>
      <td>
        <%= button_to "delete", track_url(track), method: :delete %>
      </td>
    </tr>
  <% end %>
</table>
<br />
<%= link_to "Create Track", new_album_track_url(@album) %>
<br />
<%= link_to "Back to Band", band_url(@album.band) %>
