<h1> All the bands </h1>

<table border="1">
  <tr>
    <th>Band Name</th>
  </tr>

  <% @bands.each do |band| %>
    <tr>
      <td><%= band.name %></td>
      <td><%= link_to "Edit Band", edit_band_url(band) %></td>
      <td><%= link_to "Albums", band_url(band) %></td>
      <td><%= button_to "Delete Band", band_url(band), method: :delete %></td>
    </tr>
  <% end %>

</table>


<%= button_to "Make new band", new_band_url, method: :get %>
